.keyboard-key {
    border-style: none;
    background-color: paleturquoise;
    width: 6vw;
    height: 6vw;
    align-items: center;
    font-size: 3vw;
    margin: 1%;
    opacity: 50%;
}

.keyboard-key:enabled:hover {
    opacity: 70%;
}

.keyboard-key:disabled {
    background-color: rgba(0,0,0,0.1);
}


#keyboard {
   text-align: center;
   justify-content: center;
   flex-grow: 0.5;
   align-items: center;
}