.notification {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.notification-content {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#game-over {
    font-size: 5vw;
    margin: 7vh 0 3vh;
    flex-grow: 1;
}

#answer {
    font-size: 3vw;
    margin: 3vh 0;
}
#play-again-btn {
    background-color: white;
    border: 2px solid black;
    margin-bottom: 5vh;
    font-size: 2.5vw;
    border-radius: 8px;
    width: 60%;
    padding: 0.5vh;
    font-family: "Londrina Solid";

}

#play-again-btn:hover {
    border: 2px solid #fff;
    transition: all 0.3s ease 0s;

}

#notification-btns {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 1vw 10vw;
}

#home-btn {
    background-color: white;
    border: 2px solid black;
    margin-bottom: 5vh;
    font-size: 2.5vw;
    border-radius: 8px;
    width: 50%;
    font-family: "Londrina Solid";
}

#home-btn:hover {
    border: 2px solid #fff;
    transition: all 0.3s ease 0s;
}


#instruction {
    visibility: hidden;
}
#instruction-btn {
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

#instruction-btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 15px;
}

#instruction-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    font-size: 4vw;
}

#instruction-content {
    font-size: 2vw;
    padding: 0vh 5vw 2vh;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .notification-content {
        width: 85%;
        
    }

    #game-over {
        font-size: 9vw;
    }

    #answer {
        font-size: 7vw;
    }

    #play-again-btn {
        font-size: 5vw;
    }

    #home-btn {
        font-size: 5vw;
    }
    #instruction-title {
        font-size: 6vw;
    }
    
    #instruction-content {
        font-size: 4vw;
        padding: 0vh 5vw 2vh;
        text-align: left;
    }

    #instruction-btn {
        font-size: 2rem;
    }

}