#home {
	text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

#game-title {
    font-size: 10vw;
    font-family: "Londrina Shadow";
    flex-grow: 1;
}

#play {
	padding: 10px 60px;
	background: #ffffff;
	border: 2;
	outline: none;
	cursor: pointer;
	font-size: 50px;
	font-weight: 800;
	border-radius: 30px;
	margin-bottom: 10px;
}

.home-btn{
    margin-top: 50px;
    background-color: rgba(255,255,255,0);
    border: 3px solid #000;
    color: #000;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    font-family: "Londrina Solid";
    width: 15%;
    align-items: center;
}

.home-btn:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #fff;
    transition: all 0.3s ease 0s;
}

